# Ignora dependências do Node.js
node_modules/

# Ignora arquivos compilados
dist/

# Ignora credenciais sensíveis
firebase-service-account.json

# Ignora arquivos temporários e do sistema
.DS_Store
.env
*.log

# VSCode configs locais
.vscode/
